{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="mt-5 mb-3">User log in</h1>
                </div>
                <div class="col-12 mt-2">
                    <label for="inputUsername">Username</label>
                    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
                </div>
                <div class="col-12 mt-2">
                    <label for="inputPassword">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" required>
                </div>
                <div class="col-12 mt-3">
                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >
                    <button class="btn btn-primary" type="submit">
                        Log in
                    </button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
