{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    {{ form_start(registrationForm, { 'attr': {'autocomplete': 'nope'} }) }}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="mt-5 mb-3">Register</h1>
            </div>
            <div class="col-12 mt-2">
                {{ form_label(registrationForm.username, 'Username') }}
                {{ form_widget(registrationForm.username, { 'attr': {'class': 'form-control','autocomplete': 'nope'} }) }}
            </div>
            <div class="col-12 mt-2">
                {{ form_label(registrationForm.plainPassword, 'Password') }}
                {{ form_widget(registrationForm.plainPassword, { 'attr': {'class': 'form-control','autocomplete': 'nope'} }) }}
            </div>
            <div class="col-12 mt-3">
                {{ form_widget(registrationForm.agreeTerms) }}
                {{ form_label(registrationForm.agreeTerms, 'Agree to terms', { 'attr': {'class': 'foo'} }) }}
            </div>
            <div class="col-12 mt-3">
                <button class="btn btn-primary" type="submit">Register</button>
            </div>
        </div>
    </div>
    {{ form_end(registrationForm) }}


{% endblock %}
