{% extends 'base.html.twig' %}

{% block body %}
<section class="container">
    <div class="row mb-1 mt-5">
        <div class="col-md-4">
            <img class="card-image" src="{{ movie.thumbnail }}" alt="">
        </div>
        <div class="col-md-8">
            <h2 class="mb-4">{{ movie.title }}</h2>
            <p>{{ movie.description }}</p>
            <div>rating : {{ movie.rating }}</div>
            <div>director : {{ movie.director }}</div>
            <div>actors : {{ movie.actors }}</div>
            <div>imdbID : {{ movie.imdbID }}</div>
            <div>released : {{ movie.released|date("m/d/Y") }}</div>
            <h3 class="mt-5">{{ movie.title }} trailer</h3>
            <video controls preload="auto" width="99%">
                <source src="{{ movie.videoUrl }}" type="video/mp4">
            </video>
        </div>
    </div>
</section>

{% endblock %}

{% block javascripts %}
{% endblock %}